name: Autotester tests
on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    name: tests with python
    env:
      AUTOTESTER_CONFIG: server/autotest_server/tests/fixtures/test_config.yml
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install python packages
        run: python -m pip install pytest fakeredis -r requirements.txt
      - name: run tests
        run: pytestZ
